body{
    margin:0;
    background-color:#010712;
    background-image:url(https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
}
.container{
    width:800px;
    height:400px;
    position:relative;
    perspective: 1000px;
    left:calc(50% - 200px);
    top:calc(50vh - 100px);
}
.card{
    width:100%;
    height:100%;
    position:absolute;
    transform-style:preserve-3d;
    transition:transform 1s ease;
    cursor:pointer;
}
.back, .front{
    border-radius:6px;
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
}
.contentfront{
    width:100%;
    height:100%;
    float:left;
    transform:translatez(60px);
    backface-visibility: hidden;
    transform-style:preserve-3d;

}
.contentback{
    width:100%;
    height:100%;
    float:left;
    transform:translatez(-60px);
    backface-visibility: hidden;
    transform-style:preserve-3d;

}
.back{
    transform:rotateY(180deg);
    background-color:#232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front{
    text-transform:uppercase;
    background-color:#232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.date{
    height:100%;
    width:260px;
    float:left;
    background-color:#E76642;
    border-radius:0 6px 6px 0;
    text-align:right;
    padding:10px 30px;
    box-sizing:border-box;
    transform-style:preserve-3d;
}
.datecont{
    height:100%;
    transform:translatez(60px) scale(.9);
}
#date{
    font-size:100px;
    color:#ECECE7;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    float:right;
}
#day{
    float:right;
    font-size:28px;
    color:#232227;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}
#month{
    float:right;
    font-size:20px;
    color:#232227;
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
}
.date i{
    color:#ECECE7;
    position:absolute;
    bottom:10px;
    right:0;
}
.date i:hover{
    color:#232227;
    transition:.3s ease;
}
.month{
    height:100%;
    width:540px;
    float:left;
    padding:20px 30px;
    box-sizing:border-box;
}
.month table{
    width:100%;
}
.orangeTr{
    color:#E76642;
}
.whiteTr{
    color:#ECECE7;

}
.whiteTr th:hover{
    color:#E76642;
    transition:.3s ease;
}
.month tr{
    height:48px;
}
.month th{
    width:14%;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.backcontainer{
    backface-visibility: hidden;
    transform-style:preserve-3d;
    width:calc(100% - 60px);
    height:calc(100% - 40px);
    float:left;
    margin-left:30px;
    margin-top:20px;
    border-left:solid red 5px;
    background-color:red;
    transform:translatez(-60px) scale();
}